@import "global.css";
@import "./components/header.css";
@import "./components/card.css";
@import "./components/navigation.css";
@import "./components/button.css";

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --gap: 20px;
  /* --header-padding: 1em; */
  /* --header-line-height: calc(var(--title-font-size) + var(--header-padding) ); */
  --header-line-height: 4em;
  --main-margin-top: calc(var(--header-line-height) + var(--gap));
  /* --main-margin-top: calc(2*var(--header-padding) + var(--title-font-size) + var(--gap)); */
}

.main-section {
  margin-top: var(--main-margin-top);
}
