@import "global.css";
@import "./components/header.css";
@import "./components/card.css";
@import "./components/navigation.css";
@import "./components/button.css";
@import "./components/profile-card.css";
@import "./components/toggle-button.css";
@import "./components/form.css";

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --gap: 20px;
  --header-line-height: calc(var(--title-font-size) * 3);
  --main-margin-top: calc(var(--header-line-height) + var(--gap));
}

.main-section {
  margin-top: var(--main-margin-top);
}
