.card-section {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 1em;
}
.quiz-card {
  border: 2px solid black;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  position: relative;
  width: 90%;
  height: 200px;
}

.quiz-card--bookmark {
  width: 40px;
  height: 40px;
  position: absolute;
  top: -15px;
  right: 15px;
  background-color: var(--primary-color);
  border: 1px solid black;
}

.quiz-card--bookmark.inactive {
  /* background-image: url("./images/bookmark-plus.svg"); */
  background-color: var(--primary-color);
}

.quiz-card--bookmark.active {
  /* background-image: url("./images/star.svg"); */
  background-color: red;
}

.quiz-card a {
  align-self: flex-end;
}

.quiz-card--tags {
  display: flex;
  align-self: flex-start;
  gap: 5px;
  padding-left: 10px;
}

.quiz-card--tags p {
  border: solid 2px;
  border-radius: 5px;
  padding: 2px;
}

.question,
.answer {
  font-size: var(--card-font-size);
}

.quiz-card--button {
  padding: 0.5em;
}
