.card-section {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 1em;
}
.quiz-card {
  border: 2px solid black;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  position: relative;
  width: 90%;
  height: 200px;
}

.quiz-card--bookmark {
  width: 40px;
  height: 40px;
  position: absolute;
  top: -15px;
  right: 15px;
}
.quiz-card a {
  align-self: flex-end;
}

.quiz-card--tags {
  display: flex;
  align-self: flex-start;
  gap: 5px;
  padding-left: 10px;
}

.quiz-card--tags p {
  border: solid 2px;
  border-radius: 5px;
  padding: 2px;
}
