.header {
  position: fixed;
  top: 0;
  text-align: center;
  width: 100%;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  line-height: var(--header-line-height);
  z-index: 1;
  font-size: var(--title-font-size);
  padding: var(--header-padding);
}
